{% model 'Shoot\\Shoot\\Tests\\Integration\\Embedding\\Models\\Page' %}
{% extends 'base.twig' %}
{% block body %}
    {% embed 'layout.twig' with { main_class: 'main--overriden'} only %}
        {% block main %}
            <h1>{{ title }}</h1>
            <p>{{ content }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
